# backend/requirements.txt

# Flask and Web Server Extensions
Flask
python-dotenv
Flask-Cors
Flask-SQLAlchemy
Werkzeug

# AI and Machine Learning
ultralytics
torch
torchvision

# Video and Data Processing
opencv-python-headless
numpy